body {
    margin: 0;
    padding: 0;
    background-color: yellow;
    height: 100%;
}


#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}

/* Title div */

.title {
    min-width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title > h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: #333D79FF;
}

.title  p {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    color: #333D79FF
}

/* Photos div */

.photos {
    min-width: 100%;
    display:flex;
    justify-content: space-evenly;
}

button {
    transition: transform .2s;
}

button, button:focus, button:active {
    border: none;
    background: yellow;
    padding: 0;   
    overflow: hidden;
}

button:hover {
    box-shadow: 0 0 50px #39ff14;
    border: none;
    transform: scale(1.1);
}



/* Name of roles div */ 
.role {
    display:flex;
    justify-content: space-evenly;
    min-width: 100%;
    height: 150px;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    color: #333D79FF;
}


/* Result div */

.message {
    font-family: 'Permanent Marker', cursive;
    color: #333D79FF;
    font-size: 24px;
    margin: 0;

}
.result {
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: 200px;

}

.result h3 {
    text-decoration: underline;
    font-size: 30px;
    padding: 5px 15px;
}

.result p {
    text-align: center;
    font-size: 30px;
    color: #333D79FF;
    font-family: 'Permanent Marker', cursive;
}

.player, .computer {
    min-width: 100px;
    min-height: 100px;
    margin: 10px 50px;
    
}

